body,html{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    background:darkcyan;
    color:white;
}

header{
    box-sizing: border-box;
    padding:20px;
}
main{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    height:100%;
}
nav{
    width:20%;
    height:100%;
    box-sizing: border-box;
    padding:20px;
}
section{
    width:80%;
    background:white;
    color:black;
    border-radius:40px 0px 0px 0px;
    height:100%;
    box-sizing: border-box;
    padding:20px;
}
table{
    width:100%;
}
thead{
    background:darkcyan;
    color:white;
}
td,th{
    box-sizing: border-box;
    padding:10px;
    border-radius:5px;
}
tbody tr:nth-child(even){
    background:lightcyan;
    color:black;
}
#crear{
    width:50px;
    height:50px;
    display:inline-block;
    border-radius:50px;
    background:darkcyan;
    color:white;
    font-size:40px;
    line-height:50px;
    border:none;
}
section h3{
    display:inline-block;
    line-height:50px;
    padding:10px;
    margin:0px;
    position:relative;
    top:-10px;
}
#contienemodal{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display:none;
}
#modal{
    position:absolute;
    left:50%;
    top:50%;
    width:600px;
    height:600px;
    margin-left:-300px;
    margin-top:-300px;
    background:rgba(255,255,255,0.8);
    
    border-radius:10px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.4);
}
.aparece{
    animation:animacionaparece 1s;
}
.desaparece{
    animation:animaciondesaparece 1s;
}
@keyframes animacionaparece{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes animaciondesaparece{
    0%{opacity:1;}
    100%{opacity:0;}
}






